* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: rgb(180, 184, 188);
  background-size: 100% auto;
}

#form_area {
  background-color: rgb(139, 148, 158);
  margin-top: 100px;
  height: 100px;
  width: 90%;
  margin: 32px auto;
  border-radius: 3px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  
}

section.preview {
  background-color: rgb(139, 148, 158);
  margin-top: 100px;
  height: 520px;
  width: 90%;
  margin: 32px auto;
  border-radius: 3px;
}
