* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  
}

body {
  background-color: rgb(255, 255, 255);
  background-size: 100% auto;
}

#form_area {
  margin-top: 8%;
  background-color: rgb(185, 185, 185);
  border: 2px solid #808081;
  border-radius: 7px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 40px;
}

li {
  list-style: none;
  padding: 10px;
  margin-bottom: 30px;
}

.input_form {
  border-radius: 5px;
  padding: 2%;
  width: 90%;
  height: 25%;
  
}

#input_btn{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  border-radius: 5px;
  
}

button {
  padding: 1.4rem;
  width: 25%;
  margin-bottom: 0.6rem;
  
}



/*.input_send {
  border-radius: 5px;
  padding: 2%;
  width: 41%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-left: 1rem;
}*/

